name: Check Python Formatting

on: [push, pull_request]

jobs:
  check-formatting:
    name: Check formatting with Black
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      
      - name: Check file formatting
        run: |
          pip install black
          black --check .
